.section {
    position: relative;
    width: 900px;
    min-height: 195px;
    background-color: #FFFFFF;
    margin-top: 50px;
}

.card{
    left: auto;
    padding: 25px;
}

.text {
    display: flex;
    justify-content: space-between;
    color: #717171;
    font-size: 16px;
    align-items: center;
    font-family: 'Lexend Deca';
}

h2 {
    color: #1A202C;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

h3 {
    font-family: 'Lexend Deca';
    color: #717171;
    font-size: 18px;
    font-weight: 200;
}